
.navbar {
    grid-area: n;
    background-color: #242526;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    height: 3.75rem;;
    padding: calc(1 *0.5);
}

.navbar__fixed-top{
    position: sticky;
    margin: 0 1px;
    top: 0;
    z-index: 4;
    display: flex;
}

.navbar .navbar__inner {
    flex-wrap: nowrap;
}

.navbar .navbar__items {
    flex: 1 1 auto;
}

.navbar .navbar__items {
    flex: 1 1 auto;
}

.navbar__items {
    align-items: center;
    display: flex;
    min-width: 0px;
    flex: 1 1 0%;
}

.navbar__brand {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
}

.navbar__brand, .navbar__link {
    color: white;
}

.navbar__items {
    align-items: center;
    display: flex;
    min-width: 0px;
    flex: 1 1 0%;
}

.navbar__items-right {
    justify-content: flex-end;
}

.navbar__link {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
}
.search{
    color: rgb(212, 203, 203);
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.search:hover{
    border: cadetblue 3px solid;
}
b{
    font-size: 28px;
}

.home1{
    font-size: 20px;
    color: white;
}