.sign {
    background: rgb(99, 99, 99);
    padding: 20px;
}

.first__input {
    display: flex;
    margin-top: 20px;
}

.second__input {
    width: 400px;
    /* margin-top: 20px; */
}

input:hover {
    border: solid 1px rgb(36, 36, 216);
}

.hkOJGu {
    margin-top: 30px;
}

.ant-input-affix-wrapper>input.ant-input {
    margin-top: 30px;
}

.error {
    color: red;
}

.password-inp {
    width: 250px;
    padding-bottom: 10px;
}