.sidebar {
    grid-area: s;
    background: rgb(157, 157, 157);
    height: 90vh;
    color: rgb(242, 0, 0);
    border-right: 3px solid rgb(108, 107, 107);
    display: flex;
    flex-direction: column;
}

li {
    text-decoration: none;
    list-style: none;
    color: rgb(203, 4, 4);
}

.link {
    color: rgb(203, 4, 4);
}

.button-detail {
    display: flex;
    flex-direction: row;
}