.right{
    grid-area: r;
    background: rgb(201, 33, 206);
    color: white;
    border: solid 3px black;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
a{
    color: aliceblue;
}